{% extends 'base.html' %}

{% load static %}

{% block content %}
<main class="container_profile flex-box column">
    <div class="profile background-1">
        <h2>{{expert.firstName}} {{expert.lastname}} </h2>
        <div class="profImg"><img class="profPic" src="/media/{{expert.imageProfile}}" alt="Profile Picture"></div>
        <h4>{{expert.jobTitle}}</h4>
        <h5>{{expert.organization}}</h5>
        <section class="exAboutMe">
            <h4>A Little bit about Me</h4>
            <div>
                <p>{{expert.summary}}</p>
            </div>
            <h4>My Key Expertise</h4>
            <div>
                <p>{{expert.expertise}}</p>
            </div>
            <h4>Follow me on LinkedIn <a href="{{expert.linkedInUrl}}">@{{expert.firstName}}{{expert.lastname}}</a></h4>
        </section>
        <button>Book a Call</button>
    </div>
</main>


{% endblock %}