
.approvalForm{
  margin: 0 auto;
  width: 700px;
}

.approvalForm li{
  display:    flex;
  align-items: center;

}

.approvalForm li label {
  width: 45%;
}

.formInput {
   width: 60%;
   padding-bottom: 0.6em;
}

.phone-field-ext { display: none; }

#id_phoneNumber_0{
    width: 90%;
}

#id_phoneNumber_1{
    width: 0%;
}
